@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: cursive;
    font-size: 17px;
}

* {
    padding: 0%;
    margin: 0%;
}



#cellContainer {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 220px;
    margin: auto;

    .cell {
        width: 75px;
        height: 75px;
        border: 3px solid green;
        box-shadow: 0 0 0 2px green;
        line-height: 75px;
        font-size: 50px;
        font-weight: 600;
        cursor: pointer;
    }

}

#gameContainer {
    text-align: center;
    margin-top: 60px;

    #restartBtn {
        width: 80px;
        height: 30px;
        border-radius: 4px;
        outline: none;
        background-color: black;
        color: white;
        font-weight: 800;
        font-size: 16px;
        margin-top: 14px;

        &:active {
            background-color: rgba(44, 255, 255, 0.904);
            transition: .1s;
        }
    }
}